.logo{
    height: 100px;
    width: 180px;
    position: absolute;
    margin: auto;
    top: 90px;
    left: 50%;
    margin-top: -50px;
    margin-left: -90px;
}
/*affects spacing between navbar links*/
.navbar-nav > li{
  margin-left: 20px;
  margin-right: 20px;
}

/*affects the carousel images on the gallery page*/
.carouselImage{
    width: 550px;
    height: 450px;
    display: block;
    margin: auto;
}

#myCarousel{
    background: white;
}

.carousel-caption{
    color: black;
}
/*affects navbar brand*/
.navbar-default .navbar-brand {
    color: black;
}

/*affects the entire navbar*/
nav{
    height: 110px;
    background-color: #ff3333;
}

.navbarText{
    color: white;
    font-size: 26px;
    font-weight: bolder;
}
.navbarTitle{
    color: white;
    font-size: 24;
    font-weight: bolder;
}
.contactInfo{
    font-size: 24px;
    color: black;
    font-family: "Italiana", serif;
}

#contactTitle{
    font-size: 32px;
    color: black;
    font-family:italiana;
}

.img-thumbnail{
    background: rgb(32, 131, 32);
}

.img-circle{
    border-radius:50%;
}
/*centers navbar text*/
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
/*affects the position of the navbar*/
.menuNav{
    font-size: 25px;
    color: white;
    font-weight: 600;
    position: relative;
    top: 0px;
}

.dropdown-menu{
    background: #ff3333;
}

.dropdown-menu>li>a{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
/*code for hover image text*/
.textWithBlurredBg{
    width:300px;
    height:200px;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
}
  
.textWithBlurredBg img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
}
  
.textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px #ff0000;
}
   
.textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#31f00f;
    opacity:0;
    transition:.3s;
    font-family: "italiana", serif;
}
  
.textWithBlurredBg h3{
    top:50%;
}
  
.textWithBlurredBg:hover :not(img){
    opacity:1;
}
 

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #ce5454;
    color: white;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background: #ce5454;
    color: white;
}
/*makes menu border rectangular instead of round*/
.btn.dropdown-toggle{
    border-radius: 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    border-color: #ff3333;
}

#aboutPic1{
    display: block;
    margin: auto;
    width: 45%;
    height: 500px;
    position: relative;
}

#aboutPic2{
    display: block;
    margin: auto;
    width: 45%;
    height: 500px;
    position: relative;
}
.italiana{
    font-family: "Italiana", serif;
}

#aboutTitle{
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 25px;
}
.aboutText{
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: black;
}
#aboutBox{
    background: white;
    opacity: .9;
}
.foodPizza{
    display: block;
    margin: auto;
    font-weight: 600;
}
.centerText{
    text-align: center;
}
#contactTitle{
    text-align: center;
    font-weight: 600;
}
.contactInfo{
    text-align: center;
    font-weight: 600;
}
#navLogo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 85%;
    top: 2%;
    height: 75px;
    width: 130px;
}
ul.nav.navbar-nav.menuNav{
    top: -10px;
}
a.navbar-brand{
    color: white;
    font-size: 26px;
    font-weight: 600;
}
.aboutText{
    background: white;
}
#foodEntrees{
    display: block;
    border-top: solid red 3px;
}
#foodSides{
    display: block;
    border-top: solid red 3px;
}
#foodTitle{
    font-weight: 600;
    color: black;
}
.foodText{
    font-weight: 600;
    color: black;
}
#drinksTitle{
    font-weight: 600;
    color: black;
}
.drinksText{
    font-weight: 600;
    color: black;
}
.test{
    position: absolute;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Italiana", serif;
  font-size: 30px;
  color: black;
  font-weight: 600;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Italiana", serif;
}
#map{
    top: -425px;
    left: 625px;
    position: relative;
}
#contactPic{
    top: -10px;
    width: 35%;
    position: relative;
}
section.module.parallax-1 {
  background-image: url("https://static1.squarespace.com/static/540de6b3e4b0131a4d813120/5522d15ae4b0418888602aeb/5522d674e4b0e72a96c86eb2/1445381459722/ERB_PizzeriaOttoOven3.jpg?format=1500w");
}
section.module.parallax-2 {
  background-image: url("http://www.deiorios.com/wp-content/uploads/2015/08/DeIorios-ingredients.jpg");
}
section.module.parallax-3 {
  background-image: url("http://www.insidebusinessnyc.com/wp-content/uploads/2013/04/numero282ave3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 108px;
    font-family: "Italiana", serif;
  }
}
#chickenParm{
    width: 330px;
}
#foodToppings{
    display: block;
    border-top: solid red 3px;
}
footer { background-color: #085608; min-height:350px; font-family: 'Italiana', serif; font-weight: 600;}
.footerleft { margin-top:50px; padding:0 0px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:13px !important; font-family: 'Italiana', serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:16px;}
.footer-ul li a { color:white; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }n
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#085608;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:20px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:16px; color:white; line-height:20px;}
 .post p span { display:block;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 
 /*<!------------------------------Footer css for icons-------------------------------->*/
body {
    font-family: 'italiana', serif;
    -webkit-font-smoothing: antialiased;
}

footer .col-sm-8 {
display: flex;
justify-content: flex-end;
}

footer ul {
list-style: none;
}

footer li img {
width: 32px;
height: 32px;
}